.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  .no-box-shadow {
    box-shadow: none !important;
  }
  