/* 
    General Styl.no-box-shadow {

*/
/* .main{
  background: linear-gradient(121.28deg, #31BC00 0%, #000000 100%), linear-gradient(180deg, #5200FF 0%, #1A0050 100%), linear-gradient(341.1deg, #FF0000 7.52%, #1700A4 77.98%), radial-gradient(49.82% 80.51% at 49.82% 50%, #5A0069 0%, #FF3D00 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
background-blend-mode: color-dodge, overlay, difference, difference, normal;
} */
.no-box-shadow {
  box-shadow: none !important;
}
.react-select-container {
  width: 200px; /* or any other fixed width you want */
}

.react-select__input {
  font-size: 16px; /* or any other font size you want */
}

.react-select__placeholder {
  color: gray; /* or any other color you want */
}

